@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

// Colors
$bg-light: hsl(0, 0%, 100%);
$bg-dark: hsl(0, 0%, 0%);
$font-dark: hsl(0, 0%, 63%);
$font-darker: hsl(0, 0%, 27%);

// Typography
$ff-primary: "Spartan", sans-serif;
$semi-bold: 600;
$medium: 500;
