@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Spartan", sans-serif;
}
@media (min-width: 1200px) {
  body {
    height: 100vh;
  }
}

h1,
h2 {
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

p {
  line-height: 1.5;
  color: #a1a1a1;
  font-weight: 500;
  margin-top: 1em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

@media (min-width: 500px) {
  .small {
    display: none;
  }
}

.large {
  display: none;
}
@media (min-width: 500px) {
  .large {
    display: block;
    max-height: 100%;
  }
}

@media (min-width: 1200px) {
  .split {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .page > .group-1 {
    max-height: 65vh;
  }
  .page > .group-2 {
    max-height: 32vh;
  }
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.container.second {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.container.fourth {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.first {
  position: relative;
}
@media (min-width: 1200px) {
  .first {
    flex-basis: 60%;
  }
  .first .slider {
    display: none;
  }
}

.second {
  position: relative;
}
.second .slider {
  display: none;
}
@media (min-width: 1200px) {
  .second {
    flex-basis: 40%;
  }
  .second .slider {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .fourth {
    flex-basis: 40%;
  }
}

@media (min-width: 1200px) {
  .third,
.fifth {
    flex-basis: 30%;
  }
}

.toggle {
  margin-top: 1rem;
  margin-left: 2rem;
  max-width: 30px;
  max-height: 30px;
}
.toggle i {
  color: white;
}

.nav {
  display: none;
}

.mobile-nav {
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  min-height: 75px;
  padding-top: 2rem;
}
.mobile-nav__brand {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.collapse {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.collapse__close {
  flex-basis: 20%;
  margin-left: 2rem;
}
.collapse__nav {
  flex-basis: 80%;
}

.nav-link {
  font-size: 1.6rem;
  margin-right: 2rem;
  text-transform: lowercase;
  color: black;
}

.slider {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: black;
  display: flex;
  height: 60px;
  width: 120px;
}
.slider__square {
  flex-basis: 100%;
  display: grid;
  place-content: center;
}
.slider__icon {
  height: 20px;
  width: 10px;
}
@media (min-width: 1200px) {
  .slider {
    right: unset;
    left: 0%;
  }
}

.c2a {
  display: flex;
  margin-top: 4rem;
}
.c2a__icon {
  width: 40px;
  margin-left: 3.5rem;
}
.c2a__text {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
@media (min-width: 1200px) {
  .attribution {
    position: fixed;
    bottom: 0%;
  }
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
