@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: $ff-primary;

  @media (min-width: 1200px) {
    height: 100vh;
  }
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  // margin-top: 2.5em;
}

h2 {
  // margin-top: 4em;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

p {
  line-height: 1.5;
  color: $font-dark;
  font-weight: $medium;
  margin-top: 1em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.small {
  @media (min-width: 500px) {
    display: none;
  }
}

.large {
  display: none;

  @media (min-width: 500px) {
    display: block;
    max-height: 100%;
  }
}

.split {
  @media (min-width: 1200px) {
    display: flex;
  }
}

.page {
  @media (min-width: 1200px) {
    > .group-1 {
      max-height: 65vh;
    }

    > .group-2 {
      max-height: 32vh;
    }
  }
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &.second {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &.fourth {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.first {
  position: relative;

  @media (min-width: 1200px) {
    flex-basis: 60%;

    .slider {
      display: none;
    }
  }
}

.second {
  position: relative;

  .slider {
    display: none;
  }

  @media (min-width: 1200px) {
    flex-basis: 40%;

    .slider {
      display: flex;
    }
  }
}

.fourth {
  @media (min-width: 1200px) {
    flex-basis: 40%;
  }
}

.third,
.fifth {
  @media (min-width: 1200px) {
    flex-basis: 30%;
  }
}

.toggle {
  //   position: absolute;
  //   top: 10%;
  //   left: 5%;

  //   font-size: 2.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
  max-width: 30px;
  max-height: 30px;

  i {
    color: white;
  }
}

.nav {
  display: none;
}

.mobile-nav {
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  min-height: 75px;
  padding-top: 2rem;

  &__brand {
    text-align: center;
    font-size: 3rem;
    color: white;
  }
}

.collapse {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__close {
    flex-basis: 20%;
    margin-left: 2rem;
  }

  &__nav {
    flex-basis: 80%;
  }
}

.nav-link {
  font-size: 1.6rem;
  margin-right: 2rem;
  text-transform: lowercase;
  color: black;
}

.slider {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: black;
  display: flex;
  height: 60px;
  width: 120px;

  &__square {
    flex-basis: 100%;
    display: grid;
    place-content: center;
  }

  &__icon {
    height: 20px;
    width: 10px;
  }

  @media (min-width: 1200px) {
    right: unset;
    left: 0%;
  }
}

.c2a {
  display: flex;
  margin-top: 4rem;
  // margin-bottom: 6rem;

  &__icon {
    width: 40px;
    margin-left: 3.5rem;
  }

  &__text {
    font-weight: $semi-bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  @media (min-width: 1200px) {
    position: fixed;
    bottom: 0%;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
